* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.text-primary {
    color: #fd6e0a;
}

button.btn {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    color: #FFF;
}
.btn-blue{
    background-color:blue;
}
.btn-orange{
    background-color:orange;
}
.header{
    background: #FFF8F3;
    background-image : url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right ,left;
}
/* header and navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding:10px 0px;  
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: #fd6e0a;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
font-weight: 700;
font-size: 45px;
}
.banner-sub-title{
    font-weight: 600;
    font-size:45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #fd6e0a;
    font-size:18px;
    margin-bottom:60px;
}
main{
    max-width:1140px ;
    margin:0 auto;
}
/* about section styles */
.about{
 margin-top: 130px;
 background:#FFF8F3;
 border-radius:10px;
 padding:130px 150px;
 text-align: center;
}
.section-title{
text-align: center;
font-size: 700;
margin-bottom: 30px;
    
}
.section-description{
 color: #757575;
 font-size:18px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
}
.about.info-title{
    font-size:20px;
    color: #757575;
}
.info-description{
    font-weight:700;
    font-size:20px;
    color:#474747;
}
.what-i-do{
    margin-top: 130px;
}